.nav-bar{
    display: flex;
    width: 79.2vw;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 0 10px;
}
.reg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg a{
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
}
.log{
    margin: 0 10px;
    background-color: var(--primary-clr);
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px solid #42a550;
    color: #ffffff;
}
.log a{
    color: #ffffff;
}
.log:hover{
    background-color: #ffffff;
    color: var(--primary-clr);
   }
   .log:hover a{
    color: var(--primary-clr);
   }
.register{
    margin: 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px solid #42a550;
}
.register a{
    color: var(--primary-clr);
}
.register:hover a{
    color:#ffffff;
}
.register:hover{
    background-color: var(--primary-clr);
    color: #000000;
}
